ACCESS_TOKEN_SECRET=abcdef
FIXER_API_KEY=REPLACE_ME
EXPRESS_PORT=3000
APP_NAME=crdjst
DOF_URL=https://www.banxico.org.mx/tipcamb/tipCamIHAction.do
DOF_TIMEOUT=5
FIXER_HOST=api.exchangeratesapi.io
FIXER_TIMEOUT=30
BANXICO_URL=https://www.banxico.org.mx
BANXICO_TOKEN=REPLACE_ME
BANXICO_TIMEOUT=30